
.champs{
    margin-top: 80px;
    justify-content: center;
}

button[type="submit"]{
    width: 140px;
    height: 40px;
    background-color: rgb(110, 84, 176);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
}
h5{
    margin-bottom: 5px;
}
.sign-in button{
    height: 35px;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.sign-in button:hover{
    background-color: rgb(110, 84, 176);
    color: white;
}
input:hover{
    border-color: rgb(110, 84, 176);
}


