
.champs{
    margin-top: 80px;
    justify-content: center;
}

button[type="submit"]{
    width: 140px;
    height: 40px;
    background-color: rgb(110, 84, 176);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
}
h5{
    margin-bottom: 5px;
}
.sign-in button{
    height: 35px;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.sign-in button:hover{
    background-color: rgb(110, 84, 176);
    color: white;
}
input:hover{
    border-color: rgb(110, 84, 176);
}
@media (max-width: 768px){
    .illustration img{
        margin-top: 12rem !important;
    }
}
@media (max-width: 540px){
    .illustration img{
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
}
@media (max-width: 280px){
    .create-with{
        flex-direction: column;
    }
    figure img{
        margin-left: 1.75rem;
        text-align: center;
    }
    .account{
        width: 100%;
        font-size: 14px;
    }
    .sign-in button{
     font-size: 10px;
     width: 30%;
    }
    .sign-in{
        float: none !important;
    }
}


